.container
	.row
		%h3
			Contacts

		%table.table
			%thead
				%th Email
				%th Type
				%th Date
			%tbody
				- @contacts.each do |contact|
					%tr
						%td= contact.email
						%td= contact.contact_type
						%td= contact.created_at.to_s( :long )