

%footer
	.container
		.row
			/ Contact Us
			.col-sm-6
				%h4
					%i.fa.fa-map-marker.text-red
					Contact
				
				%p
					Juggle Bugs Made With Love in:
					%br
					San Diego, CA
				%p 
					Do not hesitate to contact us if you have any questions!
				%p
					Email:
					%a{href: "#"} admin@mysite.com
			
			.col-sm-6
				%h4
					%i.fa.fa-envelope.text-red
					Newsletter
				%p
					Enter your e-mail below to subscribe to our free newsletter and get updates on Juggle Bugs.
					%br
					We promise not to bother you often!
				= form_tag '/optins', method: :post do
					= submit_tag 'Test', class: 'btn btn-red'
				%form.form{role: "form"}
					.row
						.col-sm-8
							.input-group
								%label.sr-only{for: "subscribe-email"} Email address
								%input#subscribe-email.form-control{placeholder: "Enter your email", type: "email"}/
								%span.input-group-btn
									%button.btn.btn-default{type: "submit"} OK
/ Copyright
.container
	.row
		.col-sm-12
			.copyright
				©
				= Time.now.year
				= ENV['APP_NAME']
				| All Rights Reserved

