.navbar.navbar-default.navbar-fixed-top{ role: "navigation" }
	.container
		.navbar-header
			%button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.navbar-brand{href: '/', style: "color:#c11;font-family: 'Henny Penny', cursive;" }
				= image_tag "ladybug.png"
				Juggle Bugs
		.collapse.navbar-collapse
			%ul.nav.navbar-nav.navbar-right
				%li{ class: set_css_if( path: '/' ) }
					%a{ href: '/' }
						Home

				%li{ class: set_css_if( path: '/about' ) }
					%a{ href: '/about' }
						About

				%li{ class: set_css_if( controller: :articles ) }
					%a{ href: swell_media.articles_path }
						Blog

				%li{ class: set_css_if( path: '/contacts/new' ) }
					%a{ href: '/contacts/new' }
						Contact